/*-- scss:defaults --*/
/*-- https://quarto.org/docs/presentations/revealjs/themes.html --*/
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family-sans-serif: "Atkinson Hyperlegible";

// colors
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/
